/* Start Variables */
:root {
    /* Fonts */
    --body-font: 'Work Sans', sans-serif;
    /* Colors  */
    --c1-color: hsl(275, 100%, 97%);
    --c2-color: hsl(292, 16%, 49%);
    --c3-color: hsl(292, 42%, 14%);
}
/* End Variables */

/* Start Global Rules */
*{margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{
    background-image: url(images/background-pattern-desktop.svg);  background-repeat: no-repeat;  background-size: contain;
    background-position: top;  background-color: var(--c1-color);    
    color: var(--c3-color);  font-family: var(--body-font);  font-weight: 400;  
    display: flex;  justify-content: center;  align-items: center;  min-height: 100vh;
}
.container{margin: 0 auto;}
@media screen and (min-width: 600px) {.container{width: 600px;}}
@media screen and (max-width: 599px) {.container{width: 328px;}}
p{color: var(--c2-color);}
/* End Global Rules */
.container{
    background-color: white;  padding: 38px;  padding-bottom: 22px;  border-radius: 15px;
    box-shadow: 0px 1px 18px 0px rgba(0, 2, 5, 0.25)
}

.title{
    display: flex;  align-items: center;  font-size: 27px;  margin-bottom: 32px;
}
.title img{margin-right: 25px;}


.question:not(:last-child){
    border-bottom: 1.9px solid hsla(276, 100%, 95%, 0.50);
}

.question .question-title{
    display: flex;  justify-content: space-between;  align-items: center;
    font-weight: 400;  font-style: normal;
    cursor: pointer;  margin-bottom: 25px;  transition: all 0.3s;
}
.question .question-title:hover{
    color: #AB29E5;
}
.question:not(:first-child) .question-title{
    padding-top: 25px;
}
.question:not(:last-child) .answer{
    line-height: 1.5;  padding-bottom: 25px;
}
.question:last-child .answer{
    padding-bottom: 15px;
}
.hide{display: none;}


/* Mobile Media Rules */
@media screen and (max-width: 1109px) {
    body{
        background-image: url(images/background-pattern-mobile.svg);
    }
    .container{padding: 32px; padding-bottom: 12px;}
    p{font-size: 15px;}
    .title{font-size: 16px;}
    .title img{width: 30px; margin-right: 20px;}
    .question .question-title h3{font-size: 16px;}
}